@font-face {
	font-family: 'Goudy Mediaeval';
	src: url('fonts/GoudyMediaeval-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Goudy Mediaeval';
	src: url('fonts/GoudyMediaeval-DemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: 'Goudy Mediaeval', serif;
}

input:focus {
  outline: 0;
}

section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  transition: opacity 0.5s;
  z-index: -1;
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
}

section.visible {
  opacity: 1;
  z-index: 1;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  width: 1450px;
  grid-gap: 15px;
  font-family: sans-serif;
}

.keyboard button {
  line-height: 64px;
  font-size: 36px;
}

.keyboard .enter {
  grid-row: 2 / 4;
  grid-column: -3 /-1;
}

.keyboard .clear {
  grid-row: 3;
  grid-column: -4;
}

.keyboard .space {
  grid-row: 4;
  grid-column: 2 / -2;
}

#output {
  font-family: 'Goudy Mediaeval';
  font-size: 220px;
  display: flex;
  align-items: flex-start;
}

#form {
  background-image: url(images/bg2.jpg);
  padding: 0 0 0 440px;
  font-size: 36px;
}

#form h1 {
  font-size: 64px;
  margin: 113px 0 84px;
}

#name {
  font-size: 52px;
  width: 1450px;
  border: 0;
  background: rgba(255, 255, 255, 0.5);
  margin-top: 32px;
  font-family: inherit;
  line-height: 1.5;
  padding: 0 25px;
}

#result {
  background-image: url(images/bg3.jpg);
  padding: 20vh 25px;
}

#dropcap-wrapper {
  width: 300px;
}

#dropcap-wrapper img {
  position: absolute;
}

#output #remainder {
}

#output #remainder * {
  clip-path: inset(0% 100% 0% 0%);
  position: absolute;
}

#output #remainder1 {
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: transparent;
  opacity: 0.75;
}

#output #remainder2 {
  opacity: 0.8;
}

#output #dropcap-wrapper img {
  clip-path: inset(0% 0% 100% 0%);
}

#output * {
  transition: clip-path 0s linear;
}

#output #remainder .show,
#output #dropcap-wrapper img.show {
  clip-path: inset(0% 0% 0% 0%);
  transition: clip-path 3s linear;  
}

#output #remainder .unshow {
  clip-path: inset(0% 0% 0% 100%);
}

#actions {
  position: absolute;
  display: flex;
  top: 65vh;
  left: 0;
  width: 100%;
  padding: 0 4em;
  justify-content: space-evenly;
}

#actions button {
  padding: 15px 35px;
  font-size: 32px;
  line-height: 1.5;
}
